@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  height: 200vh;

  background-color: #E5E5E5;
}

header {
  font-family: "Open Sans", sans-serif;
  height: 10vh;
  background-color: white;
}

/* .content {
  max-width: 1150px;
  margin: 0 auto;
} */

.header-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 75px;
  cursor: pointer;
}

.logo img {
  height: 100%;
  width: 100%;
}

.navbar .nav-links {
  display: flex;
  gap: 30px;
}

.navbar .nav-links li {
  list-style-type: none;
}

.navbar .nav-links li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;

}

.navbar .nav-links li a:hover {
  color: grey;
}

.navbar .nav-menu {
  font-size: 30px;
  display: none;
}

main {
  width: 100%;
}

#hero {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/hero-img.jpg);
  background-position: 50% 0;
  background-size: cover;

}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.image-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hero-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 120px 0;

}

.hero-info h1 {

  font-size: 60px;
  color: white;
  line-height: 1.1;
  font-family: "Oswald", sans-serif;
}

.hero-info p {

  font-size: 20px;
  color: white;
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
}

.hero-info button {
  text-transform: uppercase;
  background-color: #F1900E;
  font-size: 12px;
  font-weight: 800;
  padding: 13px 30px;
  border-radius: 50px;
  border: none;
  color: white;
  letter-spacing: .5px;
}

.hero-info button:hover {
  background-color: #d38117;
}



#classes h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  margin: 60px 0px 30px 0px;
}

.class-cards {
  width: 100%;
}

.class-card {
  box-shadow: 5px 5px 20px 3px rgba(107, 107, 107, 0.4);
  background-color: white;
  
  
}



.class-info h4 {
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  margin-top: 25px;
}

.class-info p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #464545;
  font-size: 20px;
  margin: 0 30px;
  text-align: center;
}

.class-info a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #111111;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid #F4AC4A;
  margin-top: 0;

}

.class-info a:hover {
  color: #F4AC4A;
}

.class-card .class-info {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.class-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: 0px 10%;

 
 
}

#classes .link {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-style: italic;
  font-size: 18px;

}

#classes .link a {
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.option-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 45%;
  margin: 60px auto;

}

.option-title h2 {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
}

.option-title p {
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #4d4c4c;
  margin-bottom: 50px;
}

.option-cards {
  padding-bottom: 50px;
}

.option-card {
  background-color: white;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-shadow: 5px 5px 20px 3px rgba(107, 107, 107, 0.4);
}

.option-card h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;

}

.descks {

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: #535353;
}

.option-card a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #F1900E;
  font-size: 12px;
  font-weight: 800;
  padding: 20px 55px;
  border-radius: 50px;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .6px;
}

.option-card a:hover {
  background-color: #d38117;
}

#contact {
  width: 100%;
  background-color: white;
  padding: 50px 0 30px 0;
}

#contact h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 50px;

}

.contact-wrapper {
  background-color: #E5E5E5;
  display: flex;
  align-items: center;


}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0px 10px 30px;
  row-gap: 35px;

}

.contact-info p {
  line-height: 2;
  font-size: 20px;
  color: #707070;
  font-family: "Open Sans", sans-serif;
}

.contact-icons {
  font-size: 23px;
  display: flex;
  column-gap: 30px;
}
.contact-icons a{
  color: black;
}
.contact-form {

  padding: 20px 20px 40px 20px;

}

.contact-form form {
  display: flex;
  flex-direction: column;

}

.contact-form .label {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.contact-form input {
  padding: 15px 20px 15px 10px;
  border: none;
  border-bottom: 2px solid black;
}

.contact-form input::placeholder {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

.contact-form input[type="text"] {
  width: 100%;
}

.contact-form input[type="submit"] {
  width: 93%;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: #F1900E;
  font-size: 20px;
  font-weight: 700;
  padding: 13px 30px;
  border-radius: 50px;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .6px;
}

.contact-form input[type="submit"]:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: #333333;

}

.footer-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  padding: 40px 80px 80px 80px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  align-items: center;
}

.foot-link {
  font-size: 13px;

}

.foot-link a {
  font-size: 13px;
  margin: 0 5px;
  color: #93d0f3;
}

.foot-link a:hover {
  text-decoration: none;
  color: gray;
}